---
group: Autosuggest
title: Suggest HSCode matches
layout: autosuggest/views/_master
---
{% from "components/button/_macro.njk" import onsButton %}

{% block main %}
    <h1>Thank you for your time.</h1>
    <p>Your feedback will help us improve these questions for our users.</p>
    <p><a href="./">Click here to restart this prototype</a></p>
{% endblock %}
