---
group: Autosuggest
title: Suggest HSCode matches
layout: autosuggest/views/_master
prevPage: hscode
nextPage: uk-multiple-location
---
{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/autosuggest/_macro.njk" import onsAutosuggest %}

{% block main %}
    {% call onsQuestion({
    "title": "Where in the UK would you like to expand your business?",
    "legendIsQuestionTitle": true,
    "classes": "ons-u-mt-no"
}) %}
    {{
        onsAutosuggest ({
            "id" : "uk-location-01",
            "label": {
                "text": "Enter a city, county or region",
                "description": "Start typing for suggestions",
                "id": "uk-location-01-label"
            },
            "classes": "ons-input--w-30",
            "moreResults": "Continue entering to improve suggestions",
            "resultsTitle": "Suggestions",
            "resultsTitleId": "country-of-birth-suggestions",
            "autosuggestData": "../../data/uk-location-data.json",
            "allowMultiple" : "false",
            "instructions": "Use up and down keys to navigate suggestions once you\'ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures.",
            "minChars" : "3",
            "autocomplete" : "off",
            "noResults": "No suggestions found. You can enter your own answer",
            "typeMore": "Continue entering to get suggestions"
        })
    }}
    {{
        onsCheckboxes({
            "checkboxesLabel": "Or",
            "dontWrap": true,
            "checkboxesLabelClasses": "ons-u-mt-m ons-u-fw-b",
            "name": "undecided",
            "borderless": true,
            "checkboxes": [
                {
                    "id": "undecided",
                    "label": {
                        "text": "I have not decided on a location yet"
                    },
                    "value": "undecided"
                }
            ]
        })
    }}
    {{
        onsButton({
            "text": "Next question",
            "classes": "ons-u-mt-m",
            "url": pageInfo.rootPath +'/'+ pageInfo.nextPage +'.html'
        })
    }}
    {% endcall %}
{% endblock %}
